/* Morapedi */

.App {
  text-align: auto;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  vertical-align: middle;
}

.App-title {
  font-size: 1.5em;
}
.Singup{
  float: left;
}

.head{
  font-size: 88em;
}

.Foot{
  background-color: black;
  color: skyblue;
  opacity: 0.8;
  
  font-style: italic;
  width: 100%;
}
.fb{
  float: right;
  width: 10%;
  
}
.address{
  width: 30%;
  margin: auto;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Kgaogelo */

.Container{
  width: 80%;
  margin: auto;
  -webkit-box-shadow: 10px 10px 48px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 48px -13px rgba(0,0,0,0.75);
box-shadow: 10px 10px 48px -13px rgba(0,0,0,0.75);
}

.Footers{
  text-align: center;
  background-color: snow;
  color: darkgrey;
}

.NavTab{
  background-color: whitesnow;
  
}

.HeaderNav{
  background-color: white;
  
  
}